<section class="container">
    <div class="row align-items-center">
        <h2 class="p-3">Edit Profile</h2>
        <form class="edit-profile-form">
            <div>
                <label for="user-first">First Name</label>
                <input id="user-first" name="user-first" value="{{user.first}}"></input>
            </div><br>

            <div>
                <label for="user-last">Last Name</label>
                <input id="user-last" name="user-last" value="{{user.last}}"></input>
            </div><br>

            <div>
                <label for="user-type">User Type</label>
                <select id="user-type" name="user-type">
                    <option value="business_owner" {{#if (isselected user.user_type "business_owner") }} selected {{/if}}>Business Owner</option>
                    <option value="content_creator" {{#if (isselected user.user_type "content_creator") }} selected {{/if}}>Content Creator</option>
                </select>
            </div><br>

            <div>
                <label for="user-bio">Bio</label>
                <textarea id="user-bio" name="user-bio" rows="4" cols="50">{{user.bio}}</textarea>
            </div><br>

            <div>
                <label for="user-email">Email</label>
                <input id="user-email" name="user-email" value="{{user.email}}"></input>
            </div><br>

     <div class="form-group">
                <label for="avatar-file">Avatar</label>
                <input type="file" class="form-input" id="avatar-file" accept="image/*" />
            </div><br>

            <div>
                <label for="username">Username</label>
                <input id="username" name="username" value="{{user.username}}"></input>
            </div><br>
            <div>
                <button class= "edit-btn col-3" type="submit">Update Profile</button>
            </div><br>
        </form>

        <div>
            <button id="back-btn" class="btn edit-btn col-3">
            Back to Homepage
            </button>
        </div>
        <p hidden="true" id="user_id">{{user.id}}</p>
    </div>
</section>

<script src="/js/edit-profile.js"></script>